rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function signedIn() {
      return request.auth != null;
    }

    match /company-signatures/{allPaths=**} {
      allow read: if signedIn();
      allow write: if signedIn();
    }

    match /tenant-documents/{allPaths=**} {
      allow read: if signedIn();
      allow write: if signedIn();
    }

    match /property-documents/{allPaths=**} {
      allow read: if signedIn();
      allow write: if signedIn();
    }

    match /company-documents/{allPaths=**} {
      allow read: if signedIn();
      allow write: if signedIn();
    }

    match /person-documents/{allPaths=**} {
      allow read: if signedIn();
      allow write: if signedIn();
    }

    match /message-attachments/{allPaths=**} {
      allow read: if signedIn();
      allow write: if signedIn();
    }

    match /outgoing-message-attachments/{allPaths=**} {
      allow read: if signedIn();
      allow write: if signedIn();
    }

    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
